:root {
    --neon: rgba(146,204,206,255);
    --gray: rgba(49,52,61,255);
    --blue: rgba(68,88,119,255);
    --bg: rgba(238,238,247,255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

p {
  font-size: 110%;
  padding-left: 10px;
}

header {
    display: flex;
    background-color: var(--gray);
    color: var(--neon);
    justify-content: space-between;
    align-items: center;
    padding: 1% 5% 1% 0;
}

h1 {
    background-color: var(--neon);
    color: var(--gray);
    font-size: 450%;
    font-weight: bold;
    padding-left: 5%;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 450px;
  }

nav a {
  color: var(--neon);
  font-weight: bolder;
  border-bottom: solid;
  text-decoration: none;
  padding: 5px 5px;
  font-size: 150%;
  }

nav a:hover {
  color: #fff;
  }

figure {
  position: relative;
}

figcaption {
  color: var(--gray);
  font-size: 150%;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  right: 55px;
  background-color: var(--neon);
}

main {
  display: flex;
  flex-direction: column;
  padding: 4%;
  }

section {
  display: flex;
  flex-direction: row;
  padding: 4%;
}

h2 {
  color: var(--blue);
  font-size: 400%;
  border-right: solid;
  /* min-width: 210px;
  word-wrap: break-word !important;
  max-width: 210px;
  text-align: right; */
}

h3 {
  font-size: 150%
}

.work {
  opacity: 0.5;
  width: 350px;
  height: 120px;
}
/* 
.work-div {
  display:flex;
  flex-wrap: wrap;
}  */

.work:hover {
  opacity: 1;
}

.refactor img {
  width: 700px;
  height: 220px;
  position: relative;
}

.refactor div {
  position: absolute;
  background-color: var(--neon);
  color: var(--blue);
  bottom: 70px;
}

.portfolio img {
  position: relative;
}

.portfolio div {
  position: absolute;
  background-color: var(--neon);
  color: var(--blue);
  bottom: 1px;
}

#ContactMe ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--blue);
  font-size: 120%;
  width: 500px;
}

#ContactMe a {
  text-decoration: none;
  color: var(--blue);
}

#ContactMe li {
  border-bottom: solid;
}

@media screen and (max-width: 986px) {
  h2 {
    border-right: none;
    border-bottom: solid;
  }
}

@media screen and (max-width: 600px) {

}
